// Titulo das páginas internas
.page{
   padding: 30px 0 150px 0;
   .titulo{
      padding: 30px 0;
      h1{
         font-weight: 700;
         font-size: 40px;
         color: #f58634;
      }
   }
}